fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv
sqlalchemy>=2
aiosqlite
fastapi-users[sqlalchemy]==12.*
pydantic-settings
celery==5.4.*
redis==5.0.*
playwright==1.44
pandas
openpyxl
scikit-learn
nltk
fake-useragent
googletrans==4.0.0-rc1

openai
python-dateutil
